<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<JsonLayout properties="true" compact="true" eventEol="true"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework.web" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="com.cfserver" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<logger name="org.hibernate.stat" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</logger>

		<Root>
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>